# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test package

on:
  push:
    branches:
      - master

jobs:
  installation:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.6, 3.7, 3.8]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install poetry
      run: |
        pip install poetry
      shell: bash
    - name: Set poetry env
      run: |
        poetry config virtualenvs.create false
        poetry install --no-root --no-dev
        pip install taskipy cython
        task build -f sdist
        pip uninstall --yes taskipy cython
      shell: bash
    - name: Install package artifact
      run: |
        pip install dist/cyrtd*
        pip uninstall dxfeed
      shell: bash
  build:
    needs: installation
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.6, 3.7, 3.8]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install poetry
      run: |
        pip install poetry
      shell: bash
    - name: Set poetry env
      run: |
        poetry config virtualenvs.create false
        poetry install --no-root
      shell: bash
    - name: Run tests
      run: |
        task test
      shell: bash
    - name: Generate doc
      run: |
        task html_docs
      shell: bash
      if: matrix.os == 'ubuntu-latest'
#       send zip after generation
